@media screen and (min-width: 1500px){
  .textobanner_desk p{
    position: relative;
    right: 4rem;
  }

  .falecomagente button{
    position: relative;
    right: 3rem;
  }

  .logo_desk {
    position: relative;
    left: 6rem;
  }
}


@media screen and (min-width: 1500px){
  .textosegundasection {
    display: flex;
    width: 17rem;
    justify-content: center;
    float: right;
    position: relative;
    bottom: 12rem;
    right: 23rem;
  }
  
  .logosegunda img{
    width: 30rem;
    position: relative;
    bottom: 13rem;
    left: 17rem;
  }

  .segundasection {
    height: 6rem;
  }

}


@media screen and (min-width: 1500px){
  .quintasection {
    background-image: url("./img/pessoas/crianca_desk.webp");
    background-size: cover;
    height: 50rem;
    position: relative;
    bottom: 7rem;
  }

  .wrappertextoquinta {
    position: relative;
    top: 10rem;
  }

  .textosimulador_grande {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .textosimulador {
    display: none;
  }

  .textomenusanfonado_mobile {
    display: none;
  }
}



@media screen and (min-width: 1500px) { /*Essa versão ta ok*/
  .fundoform {
    display: none;
    position: absolute;
    left: 48.6rem;
    margin-top: 5.3rem;
  }

  .formulario {
    position: relative;
    right: 10rem;
    background-image: url("./img/fundos/fundo_form.png");
    height: 27rem;
    width: 27rem;
    padding-top: 2rem;
    padding-left: 1.5rem;
  }

  #passoPessoaFisica{
    position: relative;
    right: 12rem;
    padding-left: 12rem;
    margin-top: -6rem;
  }

  #passoParceiro{
    position: relative;
    bottom: 5rem;
    right: 2rem;
    padding-left: 2rem;
  }

  #margemcampos p {
    max-width: 30rem;
  }

  #margemcampos {
    font-size: 1rem;
  }

  #formButtonAnt {
    margin-bottom: 2rem;
  }

  .botoes {
    gap: 1.7rem;
  }

  .iframe_desk {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .iframe_desk iframe{
    width: 60rem;
    height: 34rem;
  }

  .simuladordecredito {
    height: 50rem;
  }
}